@font-face {
  font-family: "bebas";
  font-display: swap;
  src: url("../fonts/bebas.woff") format("woff"), url("../fonts/bebas.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

*::-moz-selection {
  background: rgba(255, 255, 255, 0.6) !important;
  color: rgba(18, 18, 20, 0.9) !important;
}

*::selection {
  background: rgba(255, 255, 255, 0.6) !important;
  color: rgba(18, 18, 20, 0.9) !important;
}

html {
  font-size: 10px;
}

body {
  color: #ffffff;
  background-color: #131315;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-family: bebas;
  z-index: 1;
}

.title-bg {
  opacity: 0.05;
  font-family: bebas;
  text-transform: uppercase;
  position: absolute;
  left: 32.5%;
  z-index: -10;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Gilroy;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  font-size: 3.2rem;
  color: #1c1c1f;
  border: 4px solid #bcac7a;
  background-color: #bcac7a;
  padding: 1.2em 4em 1.1em;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

img {
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}

.fix {
  text-align: center;
  pointer-events: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}

.header {
  padding: 0px 0px 500px 0px;
}

.header__container {
  position: relative;
  padding: 0px 0px 220px 0px;
}

.header__title {
  margin: 54px 0px 115px 0px;
}

.header__title-hide {
  position: absolute;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 20rem;
  max-width: 600px;
  color: transparent;
  z-index: 0;
  line-height: 145px;
}

.header__title-hide span {
  font-size: 40rem;
  line-height: 265px;
}

.header__man {
  position: absolute;
  top: 305px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 1;
}

.header__plane-big {
  position: absolute;
  left: -360px;
  bottom: -170px;
  z-index: 3;
}

.header__plane-mini {
  position: absolute;
  right: -220px;
  top: 460px;
  z-index: 0;
}

.header__text {
  pointer-events: none;
  position: relative;
  font-size: 2.8rem;
  font-weight: 500;
  padding: 25px 95px;
  border-right: 0;
  border-left: 0;
  max-width: 1000px;
  text-align: center;
  margin: 0px auto 40px auto;
  z-index: 5;
}

.header__text:after {
  content: "";
  width: 100%;
  height: 2.5px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
}

.header__text:before {
  content: "";
  width: 100%;
  height: 2.5px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, white), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
}

.header__btn {
  position: relative;
  text-align: center;
  z-index: 5;
}

.header__bg {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -10;
}

.header__bg-dop {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 2;
}

.footer__container {
  padding: 0px 0px 115px 0px;
  max-width: 800px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  line-height: 1.3;
  font-size: 2.4rem;
  color: #fff;
}

.footer__text a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer__text a:hover {
  color: white;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__container {
  position: relative;
  padding: 0px 0px 102px 0px;
}

.about__title {
  font-size: 8rem;
  margin: 0px 0px 50px 0px;
}

.about__title span {
  color: #bcac7a;
}

.about__man {
  position: absolute;
  right: -330px;
  top: -340px;
  z-index: -1;
}

.about__title-bg {
  top: 0px;
  font-size: 19rem;
  line-height: 0.87;
  left: 10%;
}

.about__text {
  padding: 60px 90px 60px 60px;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.3;
  color: #fff;
  border: dashed 1px rgba(255, 255, 255, 0.5);
  max-width: 650px;
}

.about__text-item {
  position: relative;
  margin: 0px 0px 40px 0px;
  padding: 0px 0 0 70px;
}

.about__text-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 67px;
  height: 67px;
  background-image: url("../img/about/dot.png");
  background-size: contain;
}

.about__text-item:last-child {
  margin: 0px 0px 0px 0px;
}

.cases__container {
  position: relative;
  padding: 0px 0px 100px 0px;
}

.cases__title {
  font-size: 6rem;
  text-align: center;
  margin: 0px 0px 745px 0px;
}

.cases__title-bg {
  left: 3%;
  font-size: 18rem;
  top: 336px;
  text-align: center;
}

.cases__bg {
  position: absolute;
  left: 50%;
  top: -60px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.cases__text {
  padding: 55px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  counter-reset: myCounter;
  max-height: 480px;
  max-width: 1000px;
  margin: 0px auto;
  border: dashed 1px rgba(255, 255, 255, 0.5);
}

.cases__text-item {
  position: relative;
  font-size: 2rem;
  line-height: 1.3;
  margin: 0px 100px 10px 0px;
  max-width: 400px;
}

.cases__text-item:before {
  counter-increment: myCounter;
  content: counter(myCounter) ".";
  color: #cebf91;
  display: inline-block;
  text-align: center;
  line-height: normal;
  height: auto;
  width: auto;
  margin: 0 3px 0 0;
}

.program__container {
  position: relative;
  padding: 0px 0px 360px 0px;
  max-width: 1000px;
}

.program__title {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 8.4rem;
  max-width: 400px;
}

.program__title-bg {
  font-size: 20rem;
  text-align: center;
  top: 410px;
  left: 3%;
  width: 100%;
}

.program__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap-program__item {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  position: relative;
}

.wrap-program__item-1 {
  margin: 390px 0px 0px 0px;
}

.wrap-program__item-1 .wrap-program__img {
  margin: 0px 0px 30px 0px;
}

.wrap-program__item-2 {
  margin: 260px 0px 0px 0px;
}

.wrap-program__item-2 .wrap-program__img {
  margin: 0px 0px 35px 0px;
}

.wrap-program__item-3 {
  margin: 130px 0px 0px 0px;
}

.wrap-program__item-3 .wrap-program__img {
  margin: 0px 0px 0px 0px;
}

.wrap-program__item-4 {
  margin: 0px 0px 0px 0px;
}

.wrap-program__item-4 .wrap-program__img {
  margin: 0px 0px -20px 0px;
}

.wrap-program__item-4 .wrap-program__text {
  width: 340px;
}

.wrap-program__img {
  position: relative;
  padding: 0px 0px 70px 0px;
}

.wrap-program__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: skewY(-20deg);
      -ms-transform: skewY(-20deg);
          transform: skewY(-20deg);
}

.wrap-program__img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 18%;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.wrap-program__img:before {
  content: "";
  position: absolute;
  right: 0;
  top: -18%;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.wrap-program__text {
  font-size: 2rem;
  line-height: 1.3;
  padding: 0px 0px 0px 10px;
  position: absolute;
  left: 0;
  width: 400px;
}

.wrap-program__text span {
  display: block;
  font-weight: 700;
  font-size: 2.4rem;
  color: #cdc496;
  line-height: 2;
}

.wrap-program__num {
  position: absolute;
  left: 0;
  top: -16px;
  width: 1.5em;
  height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 27px 0 rgba(205, 196, 150, 0.59);
          box-shadow: 0 0 27px 0 rgba(205, 196, 150, 0.59);
  background-color: #cdc496;
  border-radius: 50%;
  font-size: 2.4rem;
  font-weight: 700;
  color: #121214;
}

.inside__container {
  position: relative;
  padding: 0px 0px 130px 0px;
}

.inside__title {
  text-align: center;
  font-size: 13.5rem;
  margin: 0px 0px 620px 0px;
}

.inside__title-bg {
  width: 100%;
  left: 3%;
  font-size: 28rem;
  top: 329px;
}

.inside__bg {
  position: absolute;
  left: 50%;
  top: -375px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.inside__list {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  counter-reset: myCounter;
}

.inside__list-item {
  font-size: 3rem;
  font-weight: 600;
  margin: 0px 20px 36px 0px;
}

.inside__list-item:before {
  counter-increment: myCounter;
  content: counter(myCounter) ".";
  color: #cebf91;
  display: inline-block;
  text-align: center;
  line-height: normal;
  height: auto;
  width: auto;
  margin: 0 3px 0 0;
}

.tarif__container {
  position: relative;
  padding: 0px 0px 115px 0px;
}

.tarif__title {
  text-align: center;
  font-size: 9rem;
  margin: 0px 0px 70px 0px;
}

.tarif__title-bg {
  font-size: 28rem;
  top: 670px;
  left: 17.5%;
}

.tarif__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 0px 306px 0px;
}

.wrap-tarif__item {
  position: relative;
  background-color: #1c1c1f;
  padding: 20px;
  text-align: center;
  max-width: 350px;
}

.wrap-tarif__item-vip {
  max-width: 800px;
  margin: 0px auto;
}

.wrap-tarif__title {
  font-family: bebas;
  font-size: 6.5rem;
  color: #fff;
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.wrap-tarif__title-pink span {
  position: absolute;
  top: 58px;
  left: -66px;
  font-size: 1.8rem;
  width: 230px;
}

.wrap-tarif__title-gold {
  color: #bcac7a;
}

.wrap-tarif__title-vip {
  left: 51%;
  top: -60px;
  font-size: 12rem;
  text-transform: uppercase;
  color: #bcac7a;
  letter-spacing: 24px;
  text-shadow: rgba(188, 172, 122, 0.66) 0px 0px 52px;
}

.wrap-tarif__inner {
  padding: 40px;
  border: dashed 2px rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrap-tarif__inner-vip {
  border: dashed 2px #bcac7a;
}

.wrap-tarif__text {
  position: relative;
  z-index: 10;
  font-size: 2rem;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0px 0px 20px 0px;
}

.wrap-tarif__text-lock {
  color: rgba(255, 255, 255, 0.5);
}

.wrap-tarif__price {
  position: relative;
  z-index: 10;
  font-size: 3.6rem;
  font-weight: 500;
  margin: 0px 0px 20px 0px;
}

.wrap-tarif__price span {
  color: #bcac7a;
}

.wrap-tarif__btn {
  position: relative;
  z-index: 10;
}

.wrap-tarif__btn a {
  padding: 1.2em 3em 1.1em;
  font-size: 1.4rem;
  border: 2px solid #bcac7a;
}

.wrap-tarif__man {
  position: absolute;
  left: 48%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 370px;
  -webkit-filter: drop-shadow(0 2px 3rem #bcac7a);
          filter: drop-shadow(0 2px 3rem #bcac7a);
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: transparent;
    color: #bcac7a;
  }
}

@media (max-width: 1025.98px) {
  .header__container {
    padding: 0px 20px 220px 20px;
  }

  .header__plane-big {
    left: -280px;
    bottom: 20px;
  }

  .header__plane-big img {
    max-width: 1000px;
  }

  .header {
    padding: 0px 0px 0px 0px;
  }

  .footer__container {
    padding: 0px 20px 65px 20px;
  }

  .about__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }

  .about__man {
    position: relative;
    right: auto;
    top: auto;
  }

  .about__man img {
    max-width: 800px;
  }

  .about__title-bg {
    font-size: 25rem;
    top: 1030px;
  }

  .about__text {
    margin: -186px auto 0px;
  }

  .cases__text {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 700px;
    max-height: 100%;
  }

  .cases__text-item {
    margin: 0px 0px 15px 0px;
    font-size: 3rem;
    max-width: 100%;
  }

  .program__container {
    padding: 0px 20px 50px 20px;
  }

  .program__title {
    max-width: 400px;
    margin: 0px auto 90px;
    left: auto;
    top: auto;
    position: relative;
    text-align: center;
  }

  .program__title-bg {
    top: 310px;
  }

  .program__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrap-program__item {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin: 0px 0px 120px 0px;
  }

  .wrap-program__item .wrap-program__img {
    margin: 0px 0px 30px 0px;
  }

  .wrap-program__item .wrap-program__text {
    width: auto;
  }

  .wrap-program__img img {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .wrap-program__img:after {
    display: none;
  }

  .wrap-program__img:before {
    display: none;
  }

  .wrap-program__img {
    padding: 0px 0px 0px 0px;
  }

  .wrap-program__text {
    position: relative;
    left: auto;
    width: auto;
    font-size: 2.6rem;
  }

  .wrap-program__text span {
    font-size: 3rem;
  }

  .wrap-program__num {
    left: 50%;
    top: -80px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 4rem;
  }

  .inside__container {
    padding: 0px 20px 70px;
  }

  .inside__title {
    text-align: center;
    font-size: 8.5rem;
    margin: 0 0 350px 0;
  }

  .inside__title-bg {
    top: 839px;
    left: 13%;
    font-size: 13rem;
  }

  .inside__bg {
    top: -210px;
  }

  .inside__bg img {
    max-width: 900px;
  }

  .inside__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .inside__list-item {
    font-size: 2.8rem;
    margin: 0px 10px 26px 10px;
  }

  .tarif__container {
    padding: 0px 0px 0px 0px;
  }

  .tarif__title-bg {
    font-size: 20rem;
    left: 15%;
    top: 900px;
  }

  .tarif__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .wrap-tarif__item {
    max-width: 585px;
    margin: 0px 0px 90px 0px;
  }

  .wrap-tarif__item:last-child {
    margin: 0px auto 180px auto;
  }

  .wrap-tarif__item-vip {
    max-width: 700px;
    margin: 0px auto;
  }

  .wrap-tarif__inner {
    padding: 40px 20px;
  }

  .wrap-tarif__text {
    font-size: 3rem;
    margin: 0px 0px 30px 0px;
  }

  .wrap-tarif__price {
    font-size: 4.6rem;
    margin: 0px 0px 30px 0px;
  }

  .wrap-tarif__btn a {
    font-size: 2rem;
  }

  .wrap-tarif__btn a {
    font-size: 1.4rem;
  }

  .wrap-tarif__man {
    bottom: 505px;
  }
}

@media (max-width: 767.98px) {
  .btn {
    font-size: 2rem;
  }

  .header__container {
    padding: 0px 20px 90px 20px;
  }

  .header__title img {
    max-width: 250px;
  }

  .header__man {
    top: 145px;
  }

  .header__man img {
    max-width: 500px;
  }

  .header__plane-big {
    opacity: 0.8;
    left: -170px;
    bottom: 210px;
  }

  .header__plane-big img {
    max-width: 500px;
  }

  .header__plane-mini {
    right: 400px;
    top: 220px;
  }

  .header__plane-mini img {
    max-width: 300px;
  }

  .header__text {
    font-size: 2rem;
    padding: 15px 20px;
  }

  .header__bg img {
    max-width: 1000px;
  }

  .header__bg-dop {
    bottom: 150px;
  }

  .header__bg-dop img {
    max-width: 1000px;
  }

  .header {
    padding: 0px 0px 0px 0px;
  }

  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer__text {
    margin: 0px 0px 30px 0px;
  }

  .about__container {
    padding: 0px 20px 90px;
  }

  .about__title {
    margin: 0px 0px 30px 0px;
    text-align: center;
    font-size: 8rem;
  }

  .about__man {
    right: 100px;
    top: auto;
    position: relative;
  }

  .about__man img {
    max-width: 500px;
  }

  .about__title-bg {
    left: 18%;
    top: 950px;
    font-size: 19rem;
  }

  .about__text {
    margin: -156px 0px 0px 0px;
    font-size: 2.6rem;
    padding: 20px 20px;
  }

  .about__text-item {
    padding: 85px 0px 0px 0px;
    margin: 0 0 30px 0;
    text-align: center;
  }

  .about__text-item:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .cases__container {
    padding: 0px 10px 90px;
  }

  .cases__title {
    font-size: 4rem;
  }

  .cases__title-bg {
    font-size: 10rem;
    top: 96px;
    text-align: center;
  }

  .cases__bg {
    top: 30px;
  }

  .cases__bg img {
    max-width: 900px;
  }

  .cases__text {
    margin: -250px auto 0;
    padding: 25px 10px 25px 10px;
  }

  .cases__text-item {
    font-size: 1.8rem;
  }

  .program__container {
    padding: 0px 20px 0px 20px;
  }

  .program__title {
    font-size: 6rem;
  }

  .program__title-bg {
    font-size: 10rem;
    left: 0;
  }

  .wrap-program__item {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }

  .wrap-program__text {
    font-size: 2rem;
  }

  .wrap-program__text span {
    font-size: 2.4rem;
  }

  .inside__title {
    margin: 0px 0px 260px 0px;
    font-size: 4.5rem;
  }

  .inside__title-bg {
    top: 850px;
    left: 0%;
    font-size: 7rem;
    text-align: center;
  }

  .inside__bg {
    top: -110px;
  }

  .inside__bg img {
    max-width: 600px;
  }

  .inside__list-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }

  .tarif__container {
    padding: 0px 20px;
  }

  .tarif__title {
    font-size: 9rem;
  }

  .tarif__title-bg {
    font-size: 14rem;
    left: -2%;
    top: 1100px;
  }

  .tarif__wrap {
    margin: 0px 0px 0px 0px;
  }

  .wrap-tarif__item {
    max-width: 100%;
  }

  .wrap-tarif__item {
    padding: 10px 10px;
  }

  .wrap-tarif__item-vip {
    max-width: 700px;
    margin: 0px auto 80px !important;
  }

  .wrap-tarif__title {
    font-size: 5.5rem;
  }

  .wrap-tarif__title-vip {
    font-size: 8rem;
    left: 54%;
    top: -32px;
  }

  .wrap-tarif__text {
    font-size: 2rem;
    margin: 0px 0px 20px 0px;
  }

  .wrap-tarif__man img {
    max-width: 600px;
  }
}